<!DOCTYPE html>
<html>
<head>
  <title>5Chan</title>
  <script src="./src/FiveChan.js"></script>
  <link rel="stylesheet" type="text/css" href="./css/style.css">
</head>
<body>
  <%= yield %>
</body>

</html>
